<style >
.sidebar-admin {
    background: #ffffff;
    border-right: 1px solid #e0e0e0;
    height: 100%;
    padding-top: 20px;
    border-radius: 8px;
}

.sidebar-admin a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    margin-bottom: 6px;
    transition: 0.25s;
}

    .sidebar-admin a:hover {
        background: #e8f1ff;
        color: #007bff;
        padding-left: 22px;
    }

    .sidebar-admin a.active {
        background: #007bff;
        color: white;
    }

.sidebar-admin i {
    width: 22px;
}

</style >
