<link href="~/Content/css/css_sidebar.css" rel="stylesheet" />

<div class="sidebar-admin">

    <a href="/Admin/Home" class="active">
        <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>

    <a href="/MonAn/Index">
        <i class="fas fa-utensils"></i> Quản lý món ăn
    </a>

    <a href="/LoaiMon/Index">
        <i class="fas fa-list"></i> Quản lý loại món
    </a>

    <a href="/DonHang/Index">
        <i class="fas fa-receipt"></i> Quản lý đơn hàng
    </a>

    <a href="/NhanVien/Index">
        <i class="fas fa-users"></i> Nhân viên
    </a>

    <a href="/Account/Logout">
        <i class="fas fa-sign-out-alt"></i> Đăng xuất
    </a>

</div>
